@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Protest Revolution";
}